:root {
    --cs_blue: #154194;
    --cs_lightblue: #D4D9F6;

}

header {
    background-color: var(--cs_blue);
    color: white;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 15px;
}

main {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    padding-left: 15px;
}

footer img {
    height: 40px;
}

h1, h2, h3 {
    text-align: center;
}

header ul {
    list-style-type: none;
    padding: 0;
    line-height: 50px;
    margin: 0;
    margin-left: 20px;
    display: inline-block;
}

header ul li {
    display: inline-block;
    margin-right: 15px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

header li.moduleStarter:hover {
    background-color: var(--cs_lightblue);
    color: var(--cs_blue);
    cursor: pointer;
}

header .menuItem {
    display: inline-block;
    line-height: 50px;
    box-sizing: border-box;
    margin-right: 10px;
}

header .menuItem img {
    height: 40px;
    display: inline-block;
    line-height: inherit;
}


#urlField {

}

#mount {
    position: relative;
    display: block;
    margin-top: 20px;
    left: 20px;
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
}

#notificationContainer {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 10000;
    overflow: hidden;
}

#notificationBox {
    background-color: var(--cs_blue);
    color: white;
    width: 350px;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    display: none;

}

#notificationBox:hover {
    cursor: pointer;
}

#notificationBox:active {
    background-color: darkred;
}

@keyframes notificationFlyIn {
    from {
        margin-right: -450px;
    }
    to {
        margin-right: 0px;
    }

}

@keyframes notificationFlyOut {
    from {
        margin-right: 0px;
    }
    to {
        margin-right: -450px;
    }

}

.flyIn {
    animation-name: notificationFlyIn;
    animation-duration: 1s;
}

.flyOut {
    animation-name: notificationFlyOut;
    animation-duration: 1s;
}

#loadingIndicator .spinner-border {
    width: 30px;
    height: 30px;
    vertical-align: -10px;
}

#outputField table {
    width: 80%;
}

#outputField table tbody tr a {
    color: inherit;
    text-decoration: none;
}

#outputField table tbody tr:nth-child(odd) {
    /*background-color: var(--cs_lightblue);*/
}

#lightmodeSwitch {
    float: right;
    margin-right: 10px;
}


body.dark {
    color: white;
    background-color: #002338;
}

body.dark h1, body.dark h2, body.dark h3 {
    color: white!important;
}

body.dark table, body.dark table tr th, body.dark table tr td {
    color: white!important;
}

body.dark table tbody tr:hover {
    background-color: unset!important;
}

body.dark table tbody tr:nth-child(odd) {
    background-color: rgba(212, 217, 246, 0.13);
}

body.dark #notificationBox {
    border: 1px solid white;
}
